---
layout: default
people_ids: ['alecresnick', 'molly', 'shaunalynn', 'bakhtiar',  'chrissy',  'atul', 'margaret', 'anushri', 'mandy', 'elise', 'eric', 'shelly', 'evon',]
---
<link rel="stylesheet" href="./people.css">

<div id='people-cards' style='position: relative;'>
    {% for people_id in page.people_ids %}
    {% capture path %}_people_cards/{{ people_id }}.html{% endcapture %}
    {% include_relative {{ path }} %}
    {% endfor %}
    <div style='clear:both;'> </div>
</div>
<!-- ends .people -->
