/* ben */

#cpassehl.person .front {
    background-color: red;
}

#play a:hover {
    display: once;
}

#cpassehl .headshot {
    box-shadow: none;
}

#symbols1 {
    align: top;
    color: blue;
    font-size: 48px;
    margin-top: -19px;
    margin-bottom: -270px;
}

#symbols2 {
    padding: -75px;
    color: white;
    font-size: 115px;
    margin: 15px;
}


/* sumedha */

#sumedhasood .headshot {
    background-image: url(https://dolphia85.github.io/sumedha.jpg);
}

.spinner {
    /* hide width
        width: 50%;
    */
    height: 200px;
    transition: 1s;
    /* This is where the action happens: it tells CSS to animate any changes in the CSS styling of these elements over one second*/
    /* Setting some of the text's styling to make it fill up the card */
    /*font-family: "Courier New", monospace;*/
    /* Set a font, with a fallback */
    /*text-transform: uppercase;*/
    /* capitalize everything */
    /*font-size: 4.5em;
    line-height: calc(500px/4);*/
    /* Since we set the height to 500px, we can make the line height 1/4 to fill up four lines */
    text-align: left;
    /*z-index: 100;*/
    color: rgba(0, 0, 0, 0);
    background-color: none;
}

.spinner:hover {
    /*transform: rotate(180deg);*/
    transition: 1s cubic-bezier(.25, .1, .3, 1.5) transform;
    transform-origin: 1.4em -.4em;
    transform: translateY(100px);
    transform: scale(10, 10, 10);
    color: rgba(70%, 10%, 10%, .9);
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.8);
    width: 100%;
    /*z-index: 10;*/
}

.spinner p {
    color: rgba(0, 0, 0, 0);
}

#about {
    width: 100%;
    height: 200px;
    font-size: 1em;
    top: 10px;
    left: 10px;
    position: absolute;
    width: 200px;
    /*line-height:10px;*/
    /*border:1px solid red;*/
}

.text-content {
    font-family: 'Baskerville, Palatino, serif';
    font-weight: bold;
    font-size: 15px;
}


/* selim */

#selim .headshot {
    background-image: url(https://files.slack.com/files-pri/T086L74T1-F1M71E84U/stezelphoto.jpg?pub_secret=929038c63e);
}

#selim .back {
    font-size: .8em;
}


/* bela */

#bela .headshot {
    background-image: url(http://static.wixstatic.com/media/15d5f8_525bfe2421b24a1dae6beabd7796db34.jpg_srz_745_600_85_22_0.50_1.20_0.00_jpg_srz);
}


/* connie */

#connieye .headshot {
    background-image: url(http://i.imgur.com/QaRBdGn.png);
}


/* dolphia */

#dolphia-body {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -100;
}

#dolphia-body.hide-bg {
    background-image: none;
}

#dolphia h1 {
    font-family: 'Spirax', cursive;
    font-size: 1.8em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

#dolphia .headshot {
    background-image: url('http://res.cloudinary.com/dcyahf5xs/image/upload/v1466559499/dolphia_1_n3zvzz.jpg');
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    position: relative;
    z-index: 1000;
}

@-webkit-keyframes slide {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 244px;
        top: 100px;
    }
    50% {
        left: 488px;
        top: 0px;
    }
    100% {
        left: 900px;
        top: 100px;
    }
}

@-webkit-keyframes new {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 0;
        top: 0;
    }
}

@-webkit-keyframes wave2 {
    0% {
        left: 900px;
        top: 100px;
    }
    25% {
        left: 488px;
        top: 0px;
    }
    50% {
        left: 244px;
        top: 100px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}


/* nitya */

#nitya .headshot {
    background-image: url(http://static.boredpanda.com/blog/wp-content/uploads/2015/06/dog-sleeping-bed-funny-104__605.jpg);
}

#nitya:hover {
    background-color: black;
    /*   transition: background-color .3s ease-in; */
    transition: 1s;
    transform: translate(500px)
}


/* meteb */

#MetebAlmadi.headshot {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/e/ee/Unknown-person.gif);
}

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('https://s3.amazonaws.com/dgmde15githubio/lmroman10-regular-webfont.eot');
    src: url('https://s3.amazonaws.com/dgmde15githubio/lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/dgmde15githubio/lmroman10-regular-webfont.woff') format('woff'), url('https://s3.amazonaws.com/dgmde15githubio/lmroman10-regular-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/dgmde15githubio/lmroman10-regular-webfont.svg#latin_modern_roman10_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body #MetebAlmadi {
    font-family: 'Latin Modern Roman', Georgia, 'Times New Roman', Times, serif;
    color: #333;
}

#car {
    background-image: url("http://roadincorporated.com/images/uploads/Pagani_Zonda_Cinque/side.png");
    position: relative;
    background-size: contain;
    height: 100px;
    width: 200px;
    transition: 1s;
    top: -40%;
    transform: translateX(800px);
    background-repeat: no-repeat;
    transition: 1s;
}


/* atul */

#Atul .headshot {
    background-image: url(https://s31.postimg.org/4bi66omah/20160622_154151.jpg);
    z-index: 1;
}

#toolbox {
    background-image: url(http://rafabene.com/deltaspike-cdi-toolbox/images/toolbox.png);
    position: relative;
    background-size: cover;
    height: 65px;
    width: 65px;
    z-index: 2;
    top: 165px;
    left: 115px;
    opacity: 0;
    transition: 1.5s;
}

#Atul:hover #toolbox {
    transform: translateY(-45px)
}

#Atul #front {
    z-index: 1;
}

#Atul:hover #toolbox {
    opacity: 1;
}


/* Elise Corrado */

#elisecorrado {
    z-index: 100;
    position: relative;
}

#elisecorrado .headshot {
    background-image: url(https://raw.githubusercontent.com/selimtezel/images_project1/master/eliseBW.jpg);
    background-size: cover;
}

#elisecorrado:hover {
    transition: 1s;
    transform: rotate(720deg);
}

#elisecorrado .headshot:hover {
    background-image: url(https://raw.githubusercontent.com/selimtezel/images_project1/master/blueprint.jpg);
}

#elisecorrado #offshoot {
    height: 150px;
    width: 150px;
}


/* mandy */

#mandy .headshot {
    background-image: url(https://s32.postimg.org/dscau081x/mdgmd.jpg);
}


/* eric */

#dog {
    position: absolute;
    left: 107px;
    top: 107px;
    z-index: 100;
    opacity: 0;
    transition: opacity 2s linear;
}

#ericCard:hover #dog, #ericCard:hover #woof {
    opacity: 1;
}

#Eric {
    position: absolute;
    left: 23px;
    top: 32px;
    z-index: 0;
}

@keyframes scale {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}

#woof {
    position: absolute;
    left: 113px;
    top: 38px;
    opacity: 0;
    animation: scale 1.2s infinite;
}

#wallpaper .headshot {
    background-image: url(https://files.slack.com/files-pri/T086L74T1-F1KS4TF5G/final-_brown_wall_paper.jpg?pub_secret=a3424097e9);
    position: absolute;
    left: 30px;
    top: 39px;
    z-index: 0;
}

#linespacing {
    line-height: 21px;
}


/* margaret */

#margaret .headshot {
    background-image: url(https://raw.githubusercontent.com/MandyHagee/MandyHagee.github.io/master/Stick%20Margaret.png);
}


/* anushri */

#anushri .headshot {
    background-image: url("https://github.com/khanniie/khanniie.github.io/blob/master/person%20card/anushri%203.jpg?raw=true");
}

#slideholder {
    transition-duration: 3s;
    height: 100%;
    width: 100%;
}

.sliderbutton {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}


/* chrissy */

#chrissy .headshot {
    background-image: url(http://chrissyclary.com/wp-content/uploads/2016/06/chrissy.png);
}

#chrissy:hover .headshot {
    background-image: url(https://pbs.twimg.com/profile_images/581256969807364096/8rtwHzh4.jpg);
}

#chrissy:hover .front.card h2 {
    font-family: 'Chelsea Market', cursive;
    font-weight: bold;
    font-color: yellow;
}

#chrissy:hover .front.card {
    background-image: url(http://rlv.zcache.com/bohemian_mod_tile-rbbb8e3e80f9d451ebb5f3b0377d3a6a1_agtbm_8byvr_324.jpg);
    background-position: -15px -15px;
}


/* shelly */

#shellyu .headshot {
    background-image: url(https://files.slack.com/files-pri/T086L74T1-F1KDW0Q7P/screen-shot-2015-04-06-at-3.41.55-pm.png);
}

#shellyu #lady {
    top: 50px;
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url('https://files.slack.com/files-pri/T086L74T1-F1KCVEN1F/cartoon-lady-running-and-losing-her-shoes-by-ron-leishman-10888.png');
    background-size: contain;
    animation-name: running;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    opacity: 0.0;
}

@keyframes running {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(100px)
    }
    100% {
        transform: translateX(0px)
    }
}

#shellyu #candy {
    width: 100px;
    height: 35px;
    background-image: url(https://files.slack.com/files-pri/T086L74T1-F1KCYAE3A/candy.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: -30%;
    left: 15px;
    animation-name: dropping;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

@keyframes dropping {
    0% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(100px);
    }
}


/* Evon */

#evonPerez .headshot {
    background-image: url('http://ajkramer12-s15.github.io/card/img/evon.jpg');
}

.baseImages {
    opacity: 0;
}


/* Shaunalynn */

#shaunalynn h2 {
    font-family: 'Nothing You Could Do', cursive !important;
}

#shaunalynn .headshot {
    background-image: url(http://dgmde15githubio.s3.amazonaws.com/shaunalynn-static.png);
}

#shaunalynn .headshot:hover {
    background-image: url(http://dgmde15githubio.s3.amazonaws.com/shaunalynn-gif.gif);
}

#shaunalynn p {
    text-align: center;
    font-size: 0.875em;
    font-family: 'Codystar', cursive;
}

#shaunalynn p a {
    text-decoration: none;
}

#shaunalynn ul {
    text-align: center;
}

#shaunalynn li {
    display: inline-block;
}


/* Alec Resnick */

#alecresnick .headshot {
    background-image: url(https://pbs.twimg.com/profile_images/423087116827230209/wu7cZV8G.jpeg);
    position: relative;
}

#alecresnick #aresnick-www {
    font-size: .8em;
}


/* Bakhtiar */

#bakhtiar .headshot {
    background-image: url(https://s3-us-west-2.amazonaws.com/bmcard/final+scroll+for+bm+project.jpg);
}

@keyframes play {
    0% {
        background-position: 0px 0%;
    }
    9% {
        background-position: calc(4060px);
    }
    17% {
        background-position: calc(3700px);
    }
    25% {
        background-position: calc(3300px);
    }
    33% {
        background-position: calc(2900px);
    }
    50% {
        background-position: calc(2550px);
    }
    /*   60% {background-position:calc(2050px);} */
    /*16.6% { background- position:calc(2.6*8.5em);}
   100% { background-position: calc(2.6*8.5em) 0%; } */
}

#bakhtiar .headshot {
    animation: play 4s steps(2) infinite;
}


/* Molly */

#molly .headshot {
    background-image: url(https://s3-us-west-2.amazonaws.com/mjiap/facebook+photo.png);
    position: relative;
}

#molly #molly-www {
    font-size: .8em;
}

#molly .kale-bowl {
    position: relative;
    opacity: 0;
    height: 50px;
    width: 80px;
}

#molly .chopsticks {
    position: relative;
    float: right;
    margin-right: 20px;
    opacity: 0;
    height: 30px;
    width: 60px;
}


/* Kanye West */

#kanyewest .headshot {
    background-image: url(http://media.cmgdigital.com/shared/img/photos/2014/10/27/2d/9e/kanye-west-smile.jpg);
}


/* Kim Kardashian */

#kimkardashian .headshot {
    background-image: url(http://famouswives.org/wp-content/uploads/2014/01/Kim-Kardashian-2.jpg);
}


/****************************************************************************/


/* Do not modify anything BELOW this line; insert your CSS above this.  Be sure to prefix all of your selectors with your id; e.g. if your name is Kanye West and you want to style the h2 element, use #kanyewest h2 { …styling… } */


/****************************************************************************/

.person {
    width: calc((70ex - 2*1em)/3);
    height: calc((70ex - 2*1em)/3);
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
    z-index: 0;
}

.person:first-child,
.person:nth-child(3n+1) {
    margin-left: 0;
}

.person:nth-child(3n) {
    margin-right: 0;
}

#people-cards h2 {
    text-align: center;
    text-transform: lowercase;
    font-family: 'Latin Modern Roman', Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    line-height: 1em;
    font-size: 1.25em;
    margin-bottom: 0.25em;
    width: 100%;
    margin: 0;
    padding: 0;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0.5em #000;
    border-radius: 0.5em;
}

.card i.flip {
    position: absolute;
    top: 85%;
}


/**********************/


/* front of the cards */

.front.card {
    background-color: #aaa;
    z-index: 0;
    transform: rotateY(0deg);
}

.person .headshot {
    box-shadow: inset 0 0 0.625em #000;
    width: 6.5em;
    height: 6.5em;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 3.75%;
}


/*********************/


/* back of the cards */

.back.card {
    background-color: #ccc;
    transform: rotateY(180deg);
}

.back ul {
    padding: 0;
}

.back li {
    list-style-type: none;
    padding-left: 1ex;
}

.back li i.fa {
    margin-right: 1ex;
}

#people-cards .back {
    padding: 0.25em;
}

#people-cards .back li {
    margin-bottom: 0.5em;
    margin-left: 0;
    line-height: 0.75em;
}

#people-cards .back li a {
    font-family: 'Inconsolata', monospace;
    font-size: 0.875em;
}


/***********************************/


/* Flipping behavior for the cards */

i.flip {
    cursor: pointer;
    position: relative;
    top: 5px;
    left: calc((70ex - 2*1em)/3 - 4.25em);
}

.flip-container {
    perspective: 1000;
}

.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}


/***********************************/


/* Flipping behavior for the cards */

@media screen and (max-width: 480px) {
    .person {
        float: none;
        /*padding-left:2em; should be replaced with relative number*/
    }
}


/*You use a library to accomplish what you want, a framework uses your code to accomplish what you want.*/
