<footer id='site-footer'>
    <div id='about' class='column col-1'>
    </div>
    <div id='location' class='column col-2'>
        <p>
            Our class sessions will be hosted Monday and Wednesday afternoons from 12–3PM in Room 203 of <a href='https://www.google.com/maps/place/53+Church+St,+Cambridge,+MA+02138/@42.3743327,-71.1205619,17z/data=!3m1!4b1!4m5!3m4!1s0x89e37742850af9cb:0xcb71fe32c9c6bd1c!8m2!3d42.3743327!4d-71.1205619'>53 Church St.</a> We'll also be hosting an optional, two-hour studio session from 3–5PM each Monday and Wednesday at a location TBA. On Thursday evenings from 6:30–9:30P we'll also be hosting a <a href='/bs'>studio night</a> at our garage in Davis Square. If those times don't work for you, <em>please</em> don't hesitate to <a href='mailto:dgmds15@gmail.com'>reach out</a> to find a time to meet 1:1.
        </p>
    </div>
    <nav id='contact' class='column col-3'>
        <ul>
            <li><i class='fa fa-envelope'></i><a class='pre' href='mailto:dgmds15@gmail.com'>dgmds15@gmail.com</a>
            </li>
            <li><i class='fa fa-github'></i><a class='pre' href='https://github.com/dgmd'>dgmd</a></li>
            <li><i class='fa fa-slack'></i> <a href='http://dgmd.herokuapp.com'>slack channel</a></li>
        </ul>
    </nav>
</footer>
<script>
window.addEventListener('load', function() {
    var navLinks = Array.prototype.slice.call(document.querySelectorAll('nav.site-nav a'));
    var currentPageId = navLinks.map(function(navLink) {
        return navLink.id;
    }).filter(function(navLinkId) {
        return window.location.pathname.split('/').indexOf(navLinkId) != -1;
    })[0];
    if (currentPageId) {
        var currentPage = document.getElementById(currentPageId);
        if (currentPage) {
            currentPage.classList.add('active');
        }
    }
});
</script>
