<head>
    <meta charset="utf-8">

    <title>DGMD Session {{ page.number }} slides</title>

    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <script src='/lib/prefix-free/prefixfree.min.js'></script>
    <link rel="stylesheet" href="/lib/reveal-js/css/reveal.css">
    <link rel="stylesheet" href="/lib/reveal-js/css/theme/white.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="/lib/reveal-js/lib/css/zenburn.css">

    <!-- Our own CSS customizations -->
    <link rel="stylesheet" href="/assets/css/reveal.js.css">

    <!-- Custom CSS for slideshows. -->
    <link rel="stylesheet" href="/assets/css/slides.css">

    <!-- Printing and PDF exports -->
    <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? "/lib/reveal-js/css/print/pdf.css" : "/lib/reveal-js/css/print/paper.css";
    document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
</head>
